.navbar .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0; /* Reduce padding */
}

.navbar .logo img {
    width: auto;
    height: 55px; /* Reduce height */
}

.navbar .logo span {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-dark);
}

.navbar .logo a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;  /* Remove underline from link */
}