.dashboard-container {
    display: flex;
    height: calc(100vh - 120px); /* Adjust height based on navbar height */
}

.sidebar {
    width: 250px;
    background: var(--primary-dark);
    color: var(--white);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-item {
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar-item:hover,
.sidebar-item.active {
    background: var(--primary-color);
}

.content {
    flex: 1;
    padding: 50px;
    padding-left: 160px;
    padding-right: 160px; 
    overflow-y: auto;
    position: relative;
}

.tab-content {
    display: none;
    width: 100%;
}

.tab-content.active {
    display: block;
}

